
@use './partials/colors';

.main{
    background-position: center;
    background-size: cover;
    padding: 1rem 6rem 6rem 6rem;
}


.main--hawaii{
    background-image: url("../assets/images/hawaii.jpg");
}

.main--iceland{
    background-image: url("../assets/images/iceland.jpg");
}

.main--greece{
    background-image: url("../assets/images/greece.jpg");
}

.itinerary__title{
    color:white;
    font-size: 5rem;
}

.itinerary-card{
    padding: 1rem;
    padding-bottom: 3.5rem;

    &__title{
        text-align: center;
        border-bottom: 4px solid black;
        margin: 0 0 2rem 0;
    }
}

.activity-list{
    list-style-type: none;
    text-align: center;
    padding:0;

    &__item{
        background-color: colors.$neutral-color;
        margin: 1.25rem 0;
        padding: 1rem;
    }
}

