@use './partials/global' as *;
@use './partials/colors';
@use './partials/mixins';
@use './partials/keyframes';



.main{
    padding: 0 calc(15vw - 6.5rem) max(calc(10vw - 4rem),0.5rem) calc(15vw - 6.5rem);
    
    position: relative;
    overflow: hidden;

    &__background{
        @include mixins.fill-image;
    
        animation-name: focus-in;
        animation-duration: 1s;

        @media (max-width: 720px){
            width: unset;
            height: 100%;
        }
    }
}

.itinerary__title{
    color:white;
    font-size: 4rem;
    margin: 3rem 0;
}

.itinerary-card{
    padding: 1rem 1rem 2.5rem 1rem;
    text-align: center;

    &__title{
        font-size: 1.25rem;
        border-bottom: 4px solid black;
        margin: 0 0 2rem 0;
    }

    @media (max-width: 720px){
        padding-bottom: 0;
    }
}

.activity-list{
    list-style-type: none;
    padding:0;

    &__item{
        background-color: colors.$neutral-color;
        margin-bottom: 1rem;
        padding: 1rem;
        transition: background-color 1s;
    
        &:hover{
            background-color: darken(colors.$neutral-color, $amount: 25%);
        }
    }
}

